@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;   
    background-color: #7C43E5;
    background-image: radial-gradient(#A83BCE, #7C43E5);  
}

main {
    background-color: #361C68;
    margin: 16px auto 0 auto;
    background-image: linear-gradient(#241244, #361C68);
    width: 90%;    
    padding: 2rem;    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    line-height: 1;
    text-align: left;   
}

h1, p {
    color: #FFFFFF;
}

/* Form */

form {    
    padding: 0;
    margin: 16px 0 0 0;    
    display: flex;
    flex-direction: column;
    gap: 16px;          
}

form input {
    width: 100%;
    padding: 16px 0.5rem;
    border-radius: 8px;
    background-color: #442A74;
    color: #FFFFFF;    
    border: 2px solid #7C43E5;   
}

form input:hover {
    border: 2px solid #B084FF;
}

.form-button {
    display: inline;    
    width: 100%;
    padding: 16px 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;    
    border-radius: 8px;
    background-color: #7C43E5;
    background-image: linear-gradient(#A83BCE, #7C43E5);
    border: 2px solid #E048FF;
}

.form-button:hover {
    background-color: #23163E;
    background-image: linear-gradient(#23163E, #000000);
}

/* Tasks container */

.tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Task */

.task {
    background-color: #5B389D;
    background-image: linear-gradient(#5B389D, #623EA7);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

.task p {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-and-title {
    width: 100%;
    display: flex;
    gap: 1rem;   
}

/* Buttons */

.buttons {
    width: 100%;  
    display: flex;    
    justify-content: space-between;    
}

.edit-button, .delete-button {
    padding: 12px 2rem;       
}

.edit-button {
    background-color: #7C43E5;
    background-image: linear-gradient(#A83BCE, #7C43E5); 
    border: 2px solid #E048FF;
}

.edit-button:hover {
    background-color: #23163E;
    background-image: linear-gradient(#23163E, #000000);
}

.delete-button {
    background-color: #5B389D;
    border: 2px solid #FFFFFF;   
}

.delete-button:hover {
    background-color: #23163E;
}

.edit-button, .delete-button {    
    text-decoration: none;
    color: #FFFFFF;    
    border-radius: 8px;    
}



@media screen and (min-width: 576px) {

    main {
        margin: 24px auto 0 auto;
    }

    .buttons {          
        justify-content: flex-start;
        gap: 1rem;         
    }
}

@media screen and (min-width: 768px) {
    /* Main */

    main {
        width: 80%;
        margin: 32px auto 0 auto;
    }
   
}

@media screen and (min-width: 992px) {

    main {
        width: 70%;
        margin: 72px auto 0 auto;
    }

     /* Form */

    form {        
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
    }

    .form-button {      
        width: 30%;    
    }

    /* Task */

    .task {       
        flex-direction: row;       
        justify-content: space-between;       
    }

    .image-and-title {
        width: 50%;        
    }

    /* Buttons */

    .buttons {        
        width: 45%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;                  
    }

    .edit-button, .delete-button {
        padding: 16px 0;
        width: 100%;               
    }
}

@media screen and (min-width: 1200px) {
    main {
        margin: 120px auto 0 auto;        
        max-width: 1000px;
    }
}

