@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif; 
    background-color: #7C43E5;
    background-image: radial-gradient(#A83BCE, #7C43E5);  
}

main {
    background-color: #361C68;
    background-image: linear-gradient(#241244, #361C68);     
    width: 70%;
    padding: 2rem;
    margin: 120px auto 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    line-height: 1;
    text-align: left;   
}

h1, p {
    color: #FFFFFF;
}

/* Tasks container */

.tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Task container */

.task {
    background-color: #5B389D;
    background-image: linear-gradient(#5B389D, #623EA7);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

.task p {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-and-title {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

/* Buttons */

.edit-button, .delete-button {
    padding: 16px 2rem;
}

.edit-button {
    background-color: #7C43E5;
    background-image: linear-gradient(#A83BCE, #7C43E5); 
    border: 2px solid #E048FF;
}

.edit-button:hover {
    background-color: #23163E;
    background-image: linear-gradient(#23163E, #000000);
}

.delete-button {
    background-color: #5B389D;
    border: 2px solid #FFFFFF;
    margin-left: 0.5rem;
}

.delete-button:hover {
    background-color: #23163E;
}

.edit-button, .delete-button {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;    
    border-radius: 8px;    
}

/* Form */

form {    
    padding: 0;
    margin: 16px 0 0 0;    
    display: flex;
    justify-content: space-between;      
}

form input {
    width: 77%;
    padding: 16px 0.5rem;
    border-radius: 8px;
    background-color: #5B389D;
    background-image: linear-gradient(#5B389D, #623EA7);
    border: 2px solid #7C43E5;   
}

.form-button {
    display: inline;
    margin: 0 0 0 50px;
    width: 22%;
    padding: 16px 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;    
    border-radius: 8px;
    background-color: #7C43E5;
    background-image: linear-gradient(#A83BCE, #7C43E5);
    border: 2px solid #E048FF;
}

.form-button:hover {
    background-color: #23163E;
    background-image: linear-gradient(#23163E, #000000);
}
