* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

body {
    font-family: arial;
    background-color: #FFFFFF;    
}

main {
    background-color: #CFE1E7;
    width: 70%;
    padding: 1rem;
    margin: 120px auto 0 auto;
    border-radius: 8px;
}

/* Task container */

.task {
    background-color: #FFFFFF;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

.task p {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-and-title {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

/* Buttons */

.edit-button, .delete-button {
    padding: 16px 2rem;
}

.edit-button {
    background-color: #5A94FF;    
}

.edit-button:hover {
    background-color: #4E83E5;
}

.delete-button {
    background-color: #E64744;
    margin-left: 0.5rem;
}

.delete-button:hover {
    background-color: #CD4745;
}

.edit-button, .delete-button {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;    
    border-radius: 8px;    
}

/* Form */

form {    
    padding: 0;
    margin: 16px 0 0 0;    
    display: flex;
    justify-content: space-between;      
}

form input {
    width: 77%;
    padding: 16px 0.5rem;
    border-radius: 8px;
}

.form-button {
    display: inline;
    margin: 0 0 0 50px;
    width: 22%;
    padding: 16px 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;    
    border-radius: 8px;
    background-color: #5A94FF;
}

.form-button:hover {
    background-color: #4E83E5;
}
